#div1{
    display: block;
    float: left;
    padding: 50px 0;
    background-color: blueviolet;
    width: 100%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 0 0 0;
    margin-left: auto;
    margin-right: auto;
}
#img1{
    height: 75px;
    width: 100px;
}
a{
    color: red;
}
a:hover{
    color:blueviolet;
}
