body{
    background-color: #0375b4;
}
#div1{
    display: flex;
    height: 300px;
    width: auto;
    background-color: #262228;
    align-items: left;
    justify-content: left;
    color: #F4F4F4;
    border-radius: 30px;
    margin-bottom: 30px;
}
.img{
    height: 300px;
    width: 500px;
}
#h1{
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div2{
    display: flex;
    align-items: right;
    justify-content: right;
    font-size: 30px;
    background-color: #262228;
    border-radius: 30px;
    margin-bottom: 30px;
}
#a1{
    padding-right: 10px;
    color: red;
}
#a2{
    padding-right: 10px;
    color: red;
}
#a3{
    padding-right: 10px;
    color: red;
}
#div3 {
    background-color: #262228;
    color: white;
    width: fit-content;
}